// Default Styles
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
ul,
li,
div,
section {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  appearance: none;
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  font: 700 14px 'Red Hat Text', sans-serif;
}

.background {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(180deg, rgba(25, 26, 36, 1) 0%, rgba(38, 30, 47, 1) 100%);

  position: relative;

  .textures {
    position: absolute;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    width: 100;
    background: url(../images/bg-stars.svg);

    display: flex;
    flex-direction: column-reverse;
  }
}

.ui.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .page-header {
    margin: 135px 0;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 21px;
    color: hsl(0, 0%, 100%);
  }
}

.timer-container {
  display: flex;

  .timer-items {
    width: 100px;
    height: 100px;
  }

  .time-value {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;

    background-color: grey;

    .next-number,
    .new-values .upper-value,
    .new-values .bottom-value,
    .current-number {
      position: absolute;

      width: 100%;
      height: 100%;

      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 32px;
    }

    .next-number {
      clip-path: inset(0 0 50% 0);
    }

    .current-number {
      clip-path: inset(50% 0 0 0);
    }

    .new-values {
      position: relative;

      height: 100%;
      width: 100%;
      perspective: 40em;

      transform-style: preserve-3d;
      transition: 0ms ease all;

      .upper-value,
      .bottom-value {
        z-index: 2;
        backface-visibility: hidden;
      }

      .upper-value {
        clip-path: inset(0 0 50% 0);
        background-color: darkblue;
      }

      .bottom-value {
        clip-path: inset(50% 0 0 0);
        transform: rotateX(-180deg);
        background-color: darkgoldenrod;
      }
    }

    &.flip {
      .new-values {
        transform: rotateX(-180deg);
        transition: 600ms all;
      }
    }
  }

  .time-type {
    width: 100%;
    text-align: center;
  }
}
